input {
  width: 200px;
  margin: 10px;
}
.hide {
  display: none;
}
.inline {
  display: inline-block;
}
.num-people-error-message {
  border: 0.5px solid;
  width: 95%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #ADD8E6;
}
.numPeopleButton {
  display: inline-block;
  border: 0.5px solid;
  margin: 5px;
  padding: 5px;
  background-color: #ADD8E6;
  font-family: "Monaco";
}
.container {
  height: 750px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Monaco";
  background-color: #E0FFFF;
}
.home-title {
  font-family: "Monaco";
  font-size: 40px;
}
